
a{
    text-decoration: none;
    color: black;
}
nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-content: space-between;
    
    width: 10vw;
}



nav a{
    color: #fff;
    text-decoration: none;
    padding: 30px 0 ;
    
    text-decoration: none;
    width: 100%;
    
    align-items: center;
    align-content: center;
    text-align: center;
}
.current-page{
    background-color: gray;
    border-width: 3px;
    border: white;
    margin-left: 2vw;
    border-radius: 10px 0 10px 0 ;
    box-shadow: -3px -10px 10px rgba(66, 63, 63, 0.349);
    z-index: 2;
}
nav a:hover {
    background-color:#999595;
    border-width: 3px;
    border: white;
    margin-left: 1vw;
    border-radius: 10px 0 10px 0 ;
    box-shadow: -3px -10px 10px rgba(66, 63, 63, 0.349);
    z-index: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.h{
    
    background-color: #333;
    color: white;
    border-radius: 10px 0 0 10px;
   
    margin-left: 15vw;
}
.h h2{
    color: white;
    margin: 10px;
    padding: 5px;
}

#assignmentList {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
    padding: 0;
    color: #333;
}


table {
    margin-left: 15vw;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#gpa {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}